node_modules
public
dist
tmp
.settings/*
*.log
tmp/**/*
.idea/*
.idea/**/*
*DS_Store
*.bak
.project
**/log
**/tmp
**/tmp/**/*
**/.idea/*
**/.idea/**/*
**/doc/*
**/doc/**/*
**/*DS_Store
**/*.bak
**/.project
coverage
**/capture.js
.unison.*
*~
